# Flutter (mobile/)
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Next.js (dashboard/)
web/node_modules/
web/.next/
web/.env.local
web/.vercel
test/node_modules/

#Socket.io Server
sockets/node_modules

#IDE
.idea/
.vscode/
